{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
{% if formset_tag %}
<form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% endif %}
    {% if formset_method|lower == 'post' and not disable_csrf %}
        {% csrf_token %}
    {% endif %}

    <div>
        {{ formset.management_form }}
        {{ formset.non_form_errors }}
    </div>

    <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-borderless">
        <thead>
            {% if formset.readonly and not formset.queryset.exists %}
            {% else %}
                <tr>
                    <th class="form-control-label">
                       <h2 class="card-title">Domicilio Legal<span class="asteriskField">*</span></h2>
                    </th>
                </tr>
            {% endif %}
        </thead>

        <tbody>
            {% for form in formset %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap4/errors.html" %}
                {% endif %}

                {% for field in form %}
                <tr class="formulario-dom-legal-inline">
                    {% if field.label and not field|is_checkbox and not field.is_hidden %}
                        {% include 'bootstrap4/field.html' with tag="td" form_show_labels=True %}
                    {% endif %}
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    {% include "bootstrap4/inputs.html" %}

{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}
