{% extends "base.html" %}

{% block content %}
{% if user.personal_direccion %}
    <div class="container">

        <div class="card-columns">
            <div class="card border-info">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title">
                            Rechazados
                        </h5>
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="card border-info">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title">
                            Esperas
                        </h5>
                        <canvas id="myChart1" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="card border-info">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title">
                            Autoaceptados
                        </h5>
                        <canvas id="myChart2" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="card border-info">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title">
                            Cantidad Días Proceso Completo
                        </h5>
                        <canvas id="myChart3" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="card border-info">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title">
                            Cantidad Días Mesa de Entrada
                        </h5>
                        <canvas id="myChart4" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="card border-info">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title">
                            Cantidad Días Area de Legales
                        </h5>
                        <canvas id="myChart5" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block extra_js %}
{% if user.personal_direccion %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        let endpoint = '{% url 'sociedades:rechazados' %}';
        let items = [];
        let labels = [];
        $.ajax({
            method: 'GET',
            url: endpoint,
            success: function (data) {
                console.log(data);
                labels = data.labels;
                items = data.items;
                setChart()
            },
            error: function (error_data) {
                console.log('error');
                console.log(error_data)
            }
        });

        function setChart() {
            let ctx = document.getElementById('myChart');
            let myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# Rechazados',
                        data: items,
                        backgroundColor: [
                            "#729ece",
                            "#ff9e4a",
                            "#67bf5c",
                            "#ed665d"],

                        borderColor: [
                            "#1f77b4",
                            "#ff7f0e",
                            "#2ca02c",
                            "#d62728"],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                fixedStepSize: 1,
                            },
                        }]
                    }
                }
            })
        }


        let endpoint1 = '{% url 'sociedades:cantidad_espera' %}';
        let items1 = [];
        let labels1 = [];
        $.ajax({
            method: 'GET',
            url: endpoint1,
            success: function (data) {
                console.log(data);
                labels1 = data.labels;
                items1 = data.items;
                setChart1()
            },
            error: function (error_data) {
                console.log('error');
                console.log(error_data)
            }
        });

        function setChart1() {
            let ctx = document.getElementById('myChart1');
            let myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels1,
                    datasets: [{
                        label: '# Esperas',
                        data: items1,
                        backgroundColor: [
                            "#729ece",
                            "#ff9e4a",
                            "#67bf5c",
                            "#ed665d"],

                        borderColor: [
                            "#1f77b4",
                            "#ff7f0e",
                            "#2ca02c",
                            "#d62728"],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                fixedStepSize: 1,
                            },
                        }]
                    }
                }
            })
        }


        let endpoint2 = '{% url 'sociedades:cantidad_autoaceptados' %}';
        let items2 = [];
        let labels2 = [];
        $.ajax({
            method: 'GET',
            url: endpoint2,
            success: function (data) {
                console.log(data);
                labels2 = data.labels;
                items2 = data.items;
                setChart2()
            },
            error: function (error_data) {
                console.log('error');
                console.log(error_data)
            }
        });

        function setChart2() {
            let ctx = document.getElementById('myChart2');
            let myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels2,
                    datasets: [{
                        label: '# Autoaceptados',
                        data: items2,
                        backgroundColor: [
                            "#729ece",
                            "#ff9e4a",
                            "#67bf5c",
                            "#ed665d"],

                        borderColor: [
                            "#1f77b4",
                            "#ff7f0e",
                            "#2ca02c",
                            "#d62728"],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                fixedStepSize: 1,
                            },
                        }]
                    }
                }
            })
        }

        let endpoint3 = '{% url 'sociedades:cantidad_dias_proceso' %}';
        let items3 = [];
        let labels3 = [];
        $.ajax({
            method: 'GET',
            url: endpoint3,
            success: function (data) {
                console.log(data);
                labels3 = data.labels;
                items3 = data.items;
                setChart3()
            },
            error: function (error_data) {
                console.log('error');
                console.log(error_data)
            }
        });

        function setChart3() {
            let ctx = document.getElementById('myChart3');
            let myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels3,
                    datasets: [{
                        label: '# Dias Proceso',
                        data: items3,
                        backgroundColor: [
                            "#729ece",
                            "#ff9e4a",
                            "#67bf5c",
                            "#ed665d",
                            "#ad8bc9"],

                        borderColor: [
                            "#1f77b4",
                            "#ff7f0e",
                            "#2ca02c",
                            "#d62728",
                            "#9467bd"],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                fixedStepSize: 1,
                            },
                        }]
                    }
                }
            })
        }


        let endpoint4 = '{% url 'sociedades:cantidad_dias_mesa_entrada' %}';
        let items4 = [];
        let labels4 = [];
        $.ajax({
            method: 'GET',
            url: endpoint4,
            success: function (data) {
                console.log(data);
                labels4 = data.labels;
                items4 = data.items;
                setChart4()
            },
            error: function (error_data) {
                console.log('error');
                console.log(error_data)
            }
        });

        function setChart4() {
            let ctx = document.getElementById('myChart4');
            let myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels4,
                    datasets: [{
                        label: '# Dias Mesa Entrada',
                        data: items4,
                        backgroundColor: [
                            "#729ece",
                            "#ff9e4a",
                            "#67bf5c",
                            "#ed665d",
                            "#ad8bc9"],

                        borderColor: [
                            "#1f77b4",
                            "#ff7f0e",
                            "#2ca02c",
                            "#d62728",
                            "#9467bd"],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                fixedStepSize: 1,
                            },
                        }]
                    }
                }
            })
        }


        let endpoint5 = '{% url 'sociedades:cantidad_dias_area_legales' %}';
        let items5 = [];
        let labels5 = [];
        $.ajax({
            method: 'GET',
            url: endpoint5,
            success: function (data) {
                console.log(data);
                labels5 = data.labels;
                items5 = data.items;
                setChart5()
            },
            error: function (error_data) {
                console.log('error');
                console.log(error_data)
            }
        });

        function setChart5() {
            let ctx = document.getElementById('myChart5');
            let myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels5,
                    datasets: [{
                        label: '# Dias Area Legales',
                        data: items5,
                        backgroundColor: [
                            "#729ece",
                            "#ff9e4a",
                            "#67bf5c",
                            "#ed665d",
                            "#ad8bc9"],

                        borderColor: [
                            "#1f77b4",
                            "#ff7f0e",
                            "#2ca02c",
                            "#d62728",
                            "#9467bd"],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                fixedStepSize: 1,
                            },
                        }]
                    }
                }
            })
        }
    </script>
{% endif %}
{% endblock %}