{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Listado Sociedades{% endblock title %}

{% block content %}

    <div class="card border-info">
        <div class="card-body">
            <h2 class="card-title">
                Sociedades
            </h2>

            {% if not user.empleado_mesa_entrada and not user.empleado_area_legales %}
            <div class="mb-3">
                <a class="btn btn-primary" href="{% url 'sociedades:registrar' %}">Nueva Sociedad</a>
            </div>
            {% endif %}

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Creación</th>
                    <th scope="col">Apoderado</th>
                    <th scope="col">Estado</th>
                </tr>
                </thead>
                <tbody>
                {% for sociedad in sociedades %}
                    <tr>
                        <td scope="row"><a href="{% url 'sociedades:sociedad' pk=sociedad.pk %}">{{ sociedad.nombre }}</a></td>
                        <td>{{ sociedad.fecha_creacion | date:'SHORT_DATE_FORMAT' }}</td>
                        <td>{{ sociedad.apoderado }}</td>
                        <td><span class="badge {{ sociedad.estado_badge }}">{{ sociedad.estado }}</span></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No se encontraron sociedades.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock content %}