{% extends 'formset_registro_sociedad.html' %}
{% load static %}

{% block extra_js %}
    {% include 'includes/_select2.html' %}

    <script src="{% static 'js/jquery.formset.b4.js' %}"></script>

    <script>
        var socios = 0;
        $('.formulario-socio-inline').formset({
            prefix: "socios",
            addText: '<i class=" fa fa-plus fa-lg"></i> Nuevo Socio',
            added: function (row) {
                // console.log(row);
                row.find('.select').each(function() {
                    $(this).select2({theme: 'bootstrap4',});
                });
                row.find("[data-select2-id]").each(function() {
                    $(this).attr('style', 'width: 100% !important');
                });
                row.find('.numberinput').addClass('text-right').val(0);
            },
        });

        $('.formulario-inline').formset({
            prefix: "exporta",
            addText: '<i class=" fa fa-plus fa-lg"></i> Nuevo Lugar de Exportación',
            added: function (row) {
                row.find('.select').each(function() {
                    $(this).select2({theme: 'bootstrap4',});
                });
                row.find("[data-select2-id]").each(function() {
                    $(this).attr('style', 'width: 100% !important');
                });

                var pais = row.find("select[id*=pais]")

                datosPaises.forEach(country => {
                    const option = document.createElement('option')
                    option.value = country.code
                    option.innerText = country.name
                    pais.append(option)
                })

                var estado = row.find("select[id*=estado]")

                pais.on('select2:select', async e => {
                    const countryCode = e.target.value
                    const states = await getCountriesStates(countryCode)
                    estado.empty()
                    states.forEach(state => {
                        const option = document.createElement('option')
                        option.value = state.name
                        option.innerText = state.name
                        // console.log('asd')
                        estado.append(option)
                    })
                })
            }
        });

        $().ready(function () {
            $('.formulario-inline').find('.select').each(function() {
                $(this).select2({theme: 'bootstrap4',});
            });
            $('.formulario-inline').find("[data-select2-id]").each(function() {
                $(this).attr('style', 'width: 100% !important');
            });
            $('.formulario-dom-real-inline').find('.select').each(function() {
                $(this).select2({theme: 'bootstrap4',});
            });
            $('.formulario-dom-real-inline').find("[data-select2-id]").each(function() {
                $(this).attr('style', 'width: 100% !important');
            });
            $('.formulario-dom-legal-inline').find('.select').each(function() {
                $(this).select2({theme: 'bootstrap4',});
            });
            $('.formulario-dom-legal-inline').find("[data-select2-id]").each(function() {
                $(this).attr('style', 'width: 100% !important');
            });
            $('.formulario-socio-inline').find('.select').each(function() {
                $(this).select2({theme: 'bootstrap4',});
            });
            $('.formulario-socio-inline').find("[data-select2-id]").each(function() {
                $(this).attr('style', 'width: 100% !important');
            });
            
            $('.formulario-socio-inline').find('.numberinput').each(function(){
                if ($(this).val()!=0){
                    $(this).addClass('text-right');
                } else {
                    $(this).addClass('text-right').val(0);
                }
                
            })
            // $('.formulario-socio-inline').find('.numberinput').addClass('text-right').val(0);
        });

        const countrySelect = document.getElementById('id_exporta-0-pais')
        const stateSelect = document.getElementById('id_exporta-0-estado')

        const countrySelectDomReal = document.getElementById('id_dom_real-0-pais_dom_real')
        const stateSelectDomReal = document.getElementById('id_dom_real-0-estado_dom_real')

        const countrySelectDomLegal = document.getElementById('id_dom_legal-0-pais_dom_legal')
        const stateSelectDomLegal = document.getElementById('id_dom_legal-0-estado_dom_legal')

        var datosPaises = null

        queryFetch(`
            query{
                countries {
                    name
                    code
                }
            }
        `).then(data => {
            datosPaises = data.data.countries
            // var option = document.createElement('option')
            // option.innerText = '-------'
            // option.value = ''
            // countrySelect.append(option)
            $(".formulario-inline").each(function() {
                var prueba = document.getElementById($(this).children(":first").children(":first").children(":first").attr("id"));
                var option = document.createElement('option')
                option.innerText = '-------'
                option.value = ''
                prueba.append(option)
                data.data.countries.forEach(country => {
                    var option = document.createElement('option')
                    option.value = country.code
                    option.innerText = country.name
                    prueba.append(option)
                })
                $(this).on('select2:select', async e => {
                    var estado = $(this).children().eq(1).children(":first").children(":first")
                    const countryCode = e.target.value
                    const states = await getCountriesStates(countryCode)
                    estado.empty()
                    states.forEach(state => {
                        const option = document.createElement('option')
                        option.value = state.name
                        option.innerText = state.name
                        estado.append(option)
                    })
                })
            });
            data.data.countries.forEach(country => {
                // var option = document.createElement('option')
                // option.value = country.code
                // option.innerText = country.name
                // countrySelect.append(option)
                option = document.createElement('option')
                option.value = country.code
                option.innerText = country.name
                countrySelectDomReal.append(option)
                option = document.createElement('option')
                option.value = country.code
                option.innerText = country.name
                countrySelectDomLegal.append(option)
            })
        })

        $('#id_exporta-0-pais').on('select2:select', async e => {
            const countryCode = e.target.value
            const states = await getCountriesStates(countryCode)
            stateSelect.length = 0
            states.forEach(state => {
                const option = document.createElement('option')
                option.value = state.name
                option.innerText = state.name
                stateSelect.append(option)
            })
        })

        $('#id_dom_real-0-pais_dom_real').on('select2:select', async e => {
            const countryCode = e.target.value
            const states = await getCountriesStates(countryCode)
            stateSelectDomReal.length = 0
            states.forEach(state => {
                const option = document.createElement('option')
                option.value = state.name
                option.innerText = state.name
                stateSelectDomReal.append(option)
            })
        })

        $('#id_dom_legal-0-pais_dom_legal').on('select2:select', async e => {
            const countryCode = e.target.value
            const states = await getCountriesStates(countryCode)
            stateSelectDomLegal.length = 0
            states.forEach(state => {
                const option = document.createElement('option')
                option.value = state.name
                option.innerText = state.name
                stateSelectDomLegal.append(option)
            })
        })

        function getCountriesStates(countryCode) {
            return queryFetch(`
                query getStates($code: ID!) {
                    country(code: $code) {
                        states {
                            name
                            code
                        }
                    }
                }
            `, {code: countryCode }).then(data => {
                return data.data.country.states
            })
        }

        function queryFetch(query, variables) {
            return fetch('https://countries.trevorblades.com/', {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    query: query,
                    variables: variables
                })
            }).then(res => res.json())
        }

    </script>


{% endblock extra_js%}