{% extends 'base.html' %}

{% block title %}Sociedad{% endblock title %}

{% block content %}
    <div class="card border-info">
        <div class="card-body">
            <h2 class="card-title">Sociedad: {{ sociedad.nombre }}</h2>
            <div class="mb-3">
                <h3 class="text-right"><span id="estado" class="badge {{ sociedad.estado_badge }} badge-lg">{{ sociedad.estado }}</span></h3>
                <ul class="list-unstyled">
                    <li><strong>Fecha de Creación:</strong> {{ sociedad.fecha_creacion | date:'SHORT_DATE_FORMAT' }}</li>
                    <li><strong>Apoderado:</strong> {{ sociedad.apoderado | default_if_none:'-' }}</li>
                    <li><strong>Email:</strong> {{ sociedad.email }}</li>
                    <li><strong>Nro Expediente:</strong> {{ sociedad.nro_expediente | default_if_none:'-' }}</li>
                    <li><strong>Domicilio Real:</strong> {{ sociedad.domicilio_real }}</li>
                    <li><strong>Domicilio Legal:</strong> {{ sociedad.domicilio_legal }}</li>
                    <table>
                        <tr>
                            <td><strong>Archivo Estatuto</strong></td>
                            <td><a href="{{ sociedad.archivo_estatuto.url }}" download="{{ sociedad.archivo_estatuto.url }}"><i class="fas fa-file-download fa-2x"></i></a></td>
                        </tr>
                    </table>
                    {% if sociedad.url_drive %}
                        <li><a href="{{ sociedad.url_drive }}"><strong>URL Carpeta Digital</strong></a></li>
                    {% endif %}
                </ul>

                <ul class="list-unstyled">
                    <li><strong>Socios:</strong></li>
                    {% for socio in sociedad.socio.all %}
                    <li><strong>Nombre:</strong> {{ socio }} - <strong>Aporte:</strong> {{socio.aporte}}</li>
                    {% endfor %}
                </ul>

                <ul class="list-unstyled">
                    {% if sociedad.paises_exportados.all %}
                        <li><strong>Paises Exportados:</strong></li>
                        {% for pais in sociedad.paises_exportados.all %}
                        <li><strong>{{ pais }}</strong></li>
                        {% endfor %}
                    {% else %}
                        <li><strong>NO EXPORTA</strong></li>
                    {% endif %}
                </ul>
                {% if sociedad.imagen_qr %}
                    <img src="{{ sociedad.imagen_qr }}">
                {% endif %}

            </div>

            <div class="mt-3" id="botones">
                {% if sociedad.estado == "Pendiente" and not user.empleado_mesa_entrada and not user.empleado_area_legales %}
                    <a href="{% url 'sociedades:editar' pk=sociedad.pk %}" class="btn btn-info">Editar</a>
                    <a href="{% url 'sociedades:cerrar' pk=sociedad.pk %}" class="btn btn-success">Cerrar</a>
                {% endif %}
                {% if sociedad.estado == "Cerrada" and user.empleado_mesa_entrada %}
                    <a href="{% url 'sociedades:rechazar' pk=sociedad.pk %}" class="btn btn-danger">Rechazar</a>
                    <a href="{% url 'sociedades:revisar' pk=sociedad.pk %}" class="btn btn-success">Revisar</a>
                {% endif %}
                {% if sociedad.estado == "Revisada" and user.empleado_area_legales %}
                    <a href="{% url 'sociedades:rechazar_confirmacion' pk=sociedad.pk %}" class="btn btn-danger">Rechazar Confirmación</a>
                    <a href="{% url 'sociedades:confirmar' pk=sociedad.pk %}" class="btn btn-success">Confirmar</a>
                {% endif %}
                {% if sociedad.estado == "Confirmada" and user.empleado_mesa_entrada %}
                    <a href="{% url 'sociedades:carpetas_generadas' pk=sociedad.pk %}" class="btn btn-success">Carpetas Generadas</a>
                {% endif %}
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#logModal">
                    Log
                </button>
                <a href="{{ url_cancelar }}" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logModalLabel">Log</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-sm">
                            <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Operador</th>
                                <th scope="col">Descripción</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for log in logs %}
                                <tr>
                                    <th scope="row">{{ log.fecha | date:"d/m/Y H:i" }}</th>
                                    <td>{{ log.usuario.username }}</td>
                                    <td>{{ log.descripcion }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}