{% extends 'base.html' %}

{% block title %}Sociedad{% endblock title %}

{% block content %}
    <div class="card border-info">
        <div class="card-body">
            <h2 class="card-title">Sociedad: {{ sociedad.nombre }}</h2>
            <div class="mb-3">
                <ul class="list-unstyled">
                    <li><strong>Fecha de Creación:</strong> {{ sociedad.fecha_creacion | date:'SHORT_DATE_FORMAT' }}</li>
                    <li><strong>Apoderado:</strong> {{ sociedad.apoderado | default_if_none:'-' }}</li>
                </ul>

                <ul class="list-unstyled">
                    <li><strong>Socios:</strong></li>
                    {% for socio in sociedad.socio.all %}
                    <li><strong>Nombre:</strong> {{ socio }}</li>
                    {% endfor %}
                </ul>
                {% if sociedad.imagen_qr %}
                    <img src="{{ sociedad.imagen_qr }}">
                {% endif %}

            </div>

            <div class="mt-3" id="botones">
                <a href="{{ url_cancelar }}" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}