/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.color-rsa {
  background-color: #00b1c7;
  color:#00b1c7
}
/* change the brand and text color */
.color-rsa .navbar-brand,
.color-rsa .navbar-text {
  color: rgba(255,255,255,.9);
}
/* change the link color */
.color-rsa .navbar-nav .nav-link {
  color: rgba(255,255,255,.9);
}
/* change the color of active or hovered links */
.color-rsa .nav-item.active .nav-link,
.color-rsa .nav-item:hover .nav-link {
  color: #ffffff;
}


.navbar-nav > li > .dropdown-menu { 
  background-color: #00b1c7; 
  color:#ffffff;
}
.dropdown-menu a { 
  color: #ffffff;
}
.dropdown-divider { 
  border-color: #000000;
}

/* Sticky footer styles */
.invalid-feedback {
  display: initial;
}

body {
  background-color: rgba(205, 205, 205, 0.51);
}

footer {
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.flex-wrapper {
  display: flex;
  min-height: 96vh;
  flex-direction: column;
  justify-content: space-between;
}

#overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(359deg);
  }
}

.is-hide {
  display: none;
}