{% extends "admin/base.html" %}
{% load static %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
{% endblock %}
{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'images/sociedad_anonima.png' %}" height="40px" alt="">
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
