<input type="submit" name="submit" value="Aceptar" class="btn btn-primary" id="submit-id-submit">
{% if url_cancelar %}
    <a href="{{ url_cancelar }}" class="btn btn-danger">Cancelar</a>
{% endif %}

<script type="text/javascript">
    $(function () {
        var form_being_submitted = false;
        $("#formulario").submit(function (e) {
            if (form_being_submitted) {
                alert("Momento por favor, se estan procesando los datos...");
                e.preventDefault();
                return;
            }
            form_being_submitted = true;
        });
    });
</script>