<!-- Site footer -->
<footer>
  <div class="container">
      <div class="row">
          <div class="col-xs">
              Desarrollo de Software en Sistemas Distribuidos - Grupo 17
          </div>
          <div class="col"> </div>
          <div class="col-xs">
              <i class="fa fa-copyright"></i> {% now 'Y' %}
          </div>
      </div>
</footer>