{% load static %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/locale/bootstrap-table-es-AR.js"></script>

<!-- Timepicker -->
<script src="{% static 'vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js' %}"
        type="application/javascript"></script>
<script src="{% static 'vendor/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js' %}"
        type="application/javascript"></script>

<!-- Select 2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>

<!-- Your stuff: Third-party javascript libraries go here -->
{% if DEBUG %}
<script src="{% static 'js/project.js' %}"></script>
{% endif %}

<!-- place project specific Javascript in this file -->
