{% load static %}
{% load i18n %}
{% load flatpages %}
{% get_flatpages as flatpages %}


      <nav class="navbar navbar-expand-md shadow-lg color-rsa">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
        </button>
        <a class="navbar-brand" href="{% url 'users:home' %}">Registro de Sociedades Anónimas</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdownApis" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">APIS<span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownApis">
                <a class="dropdown-item" href="{% url 'sociedades:continentes_mas_exportados' %}">Continentes Más Exportados</a>
                <a class="dropdown-item" href="{% url 'sociedades:lenguaje_mas_exportados' %}">Lenguajes Más Exportados</a>
                <a class="dropdown-item" href="{% url 'sociedades:estados_mas_registrados' %}">Estados Más Registrados</a>
                <a class="dropdown-item" href="{% url 'sociedades:continentes_no_exportados' %}">Continentes No Exportados</a>
              </div>
            </li>
          </ul>

          {% if request.user.is_authenticated %}
            {% if not request.user.personal_direccion %}
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sociedades:listar' %}">Sociedades Anónimas</a>
                </li>
              </ul>
            {% endif %}
        </div>
            
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdownUser" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{ request.user.username }}<span class="caret"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
                {% if request.user.is_staff %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'users:logout' %}">Salir</a>
              </div>
            </li>
          </ul>
          {% endif %}
        </div>
      </nav>

