{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock %}

{% block content %}
<h1>Prohibido (403)</h1>

<p>La verificación CSRF falló. Solicitud cancelada.</p>
{% endblock content %}
