{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<h1>Ooops!!! 500</h1>

<h3>¡Parece que algo salió mal!</h3>

<p>Rastreamos estos errores automáticamente, pero si el problema persiste, no dude en contactarnos. Mientras tanto, intente refrescar el navegador.</p>
{% endblock content %}


