{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card text-white bg-dark border-primary m-4">
      <div class="card-header text-center text-white bg-dark bg-gradient border-primary">
        <h1>{% block head_title %} <h2>{{ view.action }}</h2>
          {% endblock head_title %}</h1>
      </div>
      <div class="card-body p-3 mb-2">
        {% block content_form %} {% endblock content_form %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
