{% load static i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}RSA{% endblock title %}</title>

  {% block css %}{% include 'includes/css.html' %}{% endblock %}
  {% block extra_css %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
  {% block select2 %}{% endblock %}
  {% include 'includes/js.html' %}
</head>

<body>
  <div class="mb-1">
    {% include 'includes/navbar.html' %}
  </div>
  <header>
    {% block breadcrumb %}{% endblock %}
    {% include 'includes/messages.html' %}
  </header>

  <!-- Spinner -->
  <div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
  </div>
  <!-- /Fin spinner -->

  <div class="flex-wrapper">
    <div class="container">


      {% block content %}
      <p></p>
      {% endblock content %}

    </div> <!-- /main -->
    <div>
      {% include 'includes/footer.html' %}
    </div>
  </div>
  {% block modal %}{% endblock modal %}

  <!-- Placed at the end of the document so the pages load faster -->
  {% block javascript %}{% endblock javascript %}
  {% block extra_js %}{% endblock %}

</body>

</html>
