{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

    <div class="card border-info">
        <div class="card-body">
            <h2 class="card-title">
                {{ title }}
            </h2>

            {% if message %}
                <p>{{ message }}</p>
            {% endif %}

            <form id="formulario" action="" method="post">
                {% csrf_token %}
                <p>¿Está seguro que desea seguir adelante con esta acción?</p>
                {% include 'includes/_botones_formulario_standar.html' %}
            </form>

        </div>
    </div>
{% endblock content %}