{% extends 'base_form.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="card border-info">
        <div class="card-body">
            <h2 class="card-title">
                {{ title }}
            </h2>
            {% crispy form form.helper %}

        </div>
    </div>
{% endblock content %}