{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="card border-info">
        <div class="card-body">
            <h2 class="card-title">
                {{ title }}
            </h2>
            <form id="formulario" enctype="multipart/form-data" action="" method="post">
                {% crispy form form.helper %}
                {% crispy form_dom_real form_dom_real.helper %}
                {% crispy form_dom_legal form_dom_legal.helper %}
                {% crispy form_socio form_socio.helper %}
                {% crispy formset formset.helper %}
                {% include 'includes/_botones_formulario_standar.html' %}
            </form>
        </div>
    </div>
{% endblock content %}